   fastapi
   uvicorn[standard]
   pydantic
   sqlalchemy
   pyjwt
   razorpay
   requests
   langgraph
   langchain-groq
   python-dotenv
   pytest
   httpx
   psycopg2-binary
   langchain-google-genai
